SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports

Can you add the SCRAM supports?

For example Rouncube has needed: https://github.com/roundcube/roundcubemail/issues/6917

RFCs:
- RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802
- RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677 - since 2015-11-02
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml

Cyrus SASL supports:
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
-> https://cyrusimap.org/sasl/sasl/authentication_mechanisms.html
-> https://github.com/cyrusimap/cyrus-sasl/commits/master

Dovecot SASL supports:
- SCRAM-SHA-1
-> https://doc.dovecot.org/configuration_manual/authentication/password_schemes/

GNU SASL supports:
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
-> http://www.gnu.org/software/gsasl/

CRAM-MD5 to Historic:
- https://tools.ietf.org/html/draft-ietf-sasl-crammd5-to-historic-00 // 20 November 2008

RFC6331: Moving DIGEST-MD5 to Historic
- https://tools.ietf.org/html/rfc6331 since July 2011

More informations:
- https://github.com/scram-xmpp/info/issues/1

I don't have any plans to implement this myself, but I would gladly review a patch that adds this support.

@jparise: 11 months after, have you looked?

I have added drafts "Channel Bindings for SCRAM over TLS 1.3 / SCRAM-SHA-512(-PLUS) / SCRAM-SHA3-512(-PLUS) / 2FA" and added details of Cyrus SASL / Dovecot SASL / GNU SASL.

Thanks a lot in advance.

As I said earlier, I'd be glad to review a Pull Request that adds support for these new algorithms.

@Neustradamus I have developed a first draft of SCRAM support, but i have to test it first before i can create a pull request. Do you have a docker container within a SMTP server wich supports any or all kinds of SCRAM?

@schengawegga: Nice, thanks a lot for your work!

I think that @mbhangui or @maranda can help you for a test account.

@schengawegga: Nice, thanks a lot for your work!

I think that @mbhangui or @maranda can help you for a test account.

cc: @nevans, @hsbt, @shugo.

indimail has docker images at https://hub.docker.com/r/cprogrammer/indimail. Some documentation is [here](https://github.com/mbhangui/indimail-docker).

The steps would be to

1. Create a domain using vadddomain
2. create an user using vadduser
3. Modify user password using vmoduser for SCRAM-SHA1, or SCRAM-SHA-256 (and the PLUS methods).

You can reach out to me privately if you need any help in setting up accounts using indimail docker.

gsasl also has a tiny smtp server in the examples directory. One can compile it and do a basic test. AFAIK, The gsasl utility too can act as a server using the --server option. But I have never tried those option. But I have used the client options to test SCRAM auth methods against indimail server.

@Neustradamus @mbhangui 
Yes, i´ve seen @mbhangui comment.
Thanks you for the detailed instructions.
But my time is very short at the moment.
I will have a closer look on the docker container when i´m not so busy anymore.

@mbhangui now i tried about 4 hours to run and configure indimail to test my developement, but it won´t work on my own.
It is possible, that you can give me a fully configured indimail server within an .vbox image?
My problem at the moment is a mysql certificate error on vadduser command.

> @mbhangui now i tried about 4 hours to run and configure indimail to test my developement, but it won´t work on my own. It is possible, that you can give me a fully configured indimail server within an .vbox image? My problem at the moment is a mysql certificate error on vadduser command.

Which image did you use? Sure I can give a full configured indimail server with .vbox image, but that could take me a day or two.

So I tried this and it worked. You can repeat the steps exactly as below

1. Pull the image
   podman pull ghcr.io/mbhangui/indimail:rockylinux8

2. List the image
   $ podman images|grep rocky
    ghcr.io/mbhangui/indimail           rockylinux8  274da2d2b6d7  2 months ago   1.09 GB

3. Run docker or podman command. This will run SMTP on port 25 without authentication and on port 587 with authentication. You can use port 2587 on the host where you run podman command to use SMTP for testing SCRAM methods.
    $ podman run --rm -d --publish-all --name indimail -h indimail.org \
        --cap-add SYS_PTRACE --cap-add SYS_ADMIN --cap-add IPC_LOCK   --cap-add SYS_RESOURCE \
        --cap-add=NET_ADMIN  --cap-add=CAP_NET_RAW --cap-add=SYS_NICE \
       -p 2025:25  -p 2587:587 274da2d2b6d7

4. Open a shell on the running container
     $ podman exec -ti indimail bash

5. Create domain and users that support SCRAM authentication
     vadddomain example.com password
     vadduser -C -m SCRAM-SHA-256 testuser01@example.com somepassword

6. On the host where you ran the podman command, test SCRAM-SHA-256 with this command
     a) without channel binding
    $ gsasl -d --no-cb --hostname=argos.indimail.org --x509-ca-file="" \
     -a testuser01@example.com --password 'pass' --mechanism SCRAM-SHA-256 --smtp --connect localhost:2587
     b) or you can use channel binding
    $ gsasl -d --hostname=argos.indimail.org --x509-ca-file="" -a testuser01@example.com --password 'pass' --mechanism SCRAM-SHA-256-PLUS --smtp --connect localhost:2587

Any issue let me know,

@mbhangui Thanks for your manual.
But when i do step 3, i get the following errormessage
> Error: initializing source docker://registry.redhat.io/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest: reading manifest latest in registry.redhat.io/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048: unknown: Not Found


Not sure why you are getting error with docker. I will try make a vbox image tonight

```
$ docker pull ghcr.io/mbhangui/indimail:rockylinux8
rockylinux8: Pulling from mbhangui/indimail
5461c86c2e54: Pull complete 
dd6dc7d0a3df: Pull complete 
8e0fd9e8bca9: Pull complete 
Digest: sha256:412400049a452f1d50f065fa2929a0998b0a64aa8aa4fe0fe6d274d67aafa24b
Status: Downloaded newer image for ghcr.io/mbhangui/indimail:rockylinux8

$ docker images|grep rockylinux8
ghcr.io/mbhangui/indimail   rockylinux8   274da2d2b6d7   2 months ago   1.07GB

$ docker run --rm -d --publish-all --name indimail -h indimail.org --cap-add SYS_PTRACE --cap-add SYS_ADMIN --cap-add IPC_LOCK --cap-add SYS_RESOURCE --cap-add=NET_ADMIN --cap-add=CAP_NET_RAW --cap-add=SYS_NICE -p 2025:25 -p 2587:587 274da2d2b6d7
3b88313aaad6d3bfeafe18fa4bce98a45e4e40b31b7691059495381cdace5a96

$ docker exec -ti indimail bash
indimail.org:(root) / >

```


No i´m sorry.
Either i get this error:
>Trying to pull registry.redhat.io/274da2d2b6d73b88313aaad6d3bfeafe18fa4bce98a45e4e40b31b7691059495381cdace5a96:latest...
WARN[0003] Failed, retrying in 1s ... (1/3). Error: initializing source docker://registry.redhat.io/274da2d2b6d73b88313aaad6d3bfeafe18fa4bce98a45e4e40b31b7691059495381cdace5a96:latest: reading manifest latest in registry.redhat.io/274da2d2b6d73b88313aaad6d3bfeafe18fa4bce98a45e4e40b31b7691059495381cdace5a96: unknown: Not Found

Or this error:
>Trying to pull docker.io/library/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest...
Error: initializing source docker://274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest: reading manifest latest in docker.io/library/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048: errors:
denied: requested access to the resource is denied
unauthorized: authentication required

Although i entered the needed credentials via:
>podman login docker.io

and 
>podman login registry.redhat.io

Maybe i do not have the needed permissions?

Login works
>docker login docker.io                                                                                              Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
Authenticating with existing credentials for docker.io
Existing credentials are valid. Already logged in to docker.io

Pulling works
>docker pull cprogrammer/indimail:rockylinux8
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
✔ docker.io/cprogrammer/indimail:rockylinux8
Trying to pull docker.io/cprogrammer/indimail:rockylinux8...
Getting image source signatures
Copying blob 8e0fd9e8bca9 skipped: already exists
Copying blob 5461c86c2e54 skipped: already exists
Copying blob dd6dc7d0a3df skipped: already exists
Copying config 274da2d2b6 done
Writing manifest to image destination
Storing signatures
274da2d2b6d794b20146c55ba394b0e4ab14a1417ba44036a57eb1d3e83e8a78

Step 3 works not
>podman run --rm -d --publish-all --name indimail -h indimail.org --cap-add SYS_PTRACE --cap-add SYS_ADMIN --cap-add IPC_LOCK --cap-add SYS_RESOURCE --cap-add=NET_ADMIN --cap-add=CAP_NET_RAW --cap-add=SYS_NICE -p 2025:25 -p 2587:587 274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048
✔ docker.io/library/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest
Trying to pull docker.io/library/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest...
Error: initializing source docker://274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048:latest: reading manifest latest in docker.io/library/274da2d2b6d72e11d469150726b874e808d9ad967b8c8c9a2629edee4186c1e827406828f048: errors:
denied: requested access to the resource is denied
unauthorized: authentication required


The error is because of error in step 3. Either you have to use docker throughout or you have to use podman throughout. As in

1. docker pull cprogrammer/indimail:rockylinux8 -- Fine

In step 3 replace podman with docker. i.e.
```
docker run --rm -d --publish-all --name indimail -h indimail.org --cap-add SYS_PTRACE --cap-add SYS_ADMIN --cap-add IPC_LOCK --cap-add SYS_RESOURCE --cap-add=NET_ADMIN --cap-add=CAP_NET_RAW --cap-add=SYS_NICE -p 2025:25 -p 2587:587
```

i found the problem.
I used the wrong signature hash.
Now it works. Thanks for your support.
So no i can check the SCRAM-Authentication on my VM.


Install gsasl package on your local machine where you are running the container. The gsasl command was the most useful tool for me when building SCRAM authentication. Now the docker run command I gave maps port 2587 on the local machine to port 587 on the container.

Once you have created a user on the container, you can connect and test authentication like this. You can create two users. One with SCRAM-SHA-256 and the other with SCRAM-SHA-1.

And then for each mechanism, you have two methods (the non-plus variant where you don't do channel binding and the PLUS variant where you do channel binding).

```
a) without channel binding
$ gsasl -d --no-cb --hostname=argos.indimail.org --x509-ca-file="" -a testuser01@example.com --password 'somepassword' --mechanism SCRAM-SHA-256 --smtp --connect localhost:2587

b) or you can use channel binding
$ gsasl -d --hostname=argos.indimail.org --x509-ca-file="" -a testuser01@example.com --password 'somepassword' --mechanism SCRAM-SHA-256-PLUS --smtp --connect localhost:2587
```


@mbhangui Thanks for your support. The pull request for adding SCRAM support is already done. Next steps will be adding SCRAM-PLUS support. For this, the PEAR/Auth_SASL Class must support channel binding. I will try to do a pull request there. But a first question to you. Do your container `indimail` support channel binding?





> Do your container `indimail` support channel binding?

Yes it does support channel binding (SCRAM-SHA1-PLUS and SCRAM-SHA256-PLUS) but not SCRAM-SHA512-PLUS

Additionally you will need to create users which support channel binding

```
indimail.org:(root) / > vadddomain example.com password
indimail.org:(root) / > vadduser -C -m SCRAM-SHA-1-PLUS -d tesuser01@example.com sompassword
indimail.org:(root) / > vadduser -C -m SCRAM-SHA-256-PLUS -d testuser02@example.com somepassword
```

@mbhangui Thanks for the example. I will try this soon.

@mbhangui can you send me the `vadduser` statements for adding users with `CRAM-MD5` and `DIGEST-MD5` authentication methods? Then I can check several changes in pear/Net_SMTP and pear/Auth_SASL Thank you.

> @mbhangui can you send me the `vadduser` statements for adding users with `CRAM-MD5` and `DIGEST-MD5` authentication methods? Then I can check several changes in pear/Net_SMTP and pear/Auth_SASL Thank you.

Totally slipped my mind that I have to reply. Here is the command. You just have to use -C option and it will support all CRAM methods

```
vadduser -C testuser01@example.com somepassword
```

> @mbhangui: Have you seen the last @schengawegga comment?

Thanks for reminding me. It had totally slipped my mind as I was busy planning a vacation. I have updated the above command with few things that I had missed out


@mbhangui Do indimail support XOAuth and OAuthbearer? And how do i configure this methods? Thanks you :-)

On Tue, 9 Jan 2024 at 04:44, Armin Graefe ***@***.***> wrote:

> @mbhangui <https://github.com/mbhangui> Do indimail support XOAuth and
> OAuthbearer? And how do i configure this methods? Thanks you :-)
>
No. None of these two are supported ATM.


@schengawegga: Have you progressed on it?